html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body * {
  color: #d3d3d3;
  position: relative;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.25rem;
  text-shadow: 1px 1px 2px black;
  font-weight: 100;
}

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1rem;
  font-size: 6rem;
  font-family: 'Fira Mono', monospace;
  padding-left: 0.75rem;
}

h6 {
  color: rgb(75, 100, 175);
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li:not(:last-child) {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #b37519;
}

a:hover {
  color: #df9220;
}

p {
  line-height: 120%;
  max-width: 50rem;
}

main {
  position: relative;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

figure {
  padding-right: 8rem;
  border-right: 10px groove rgb(156, 155, 155);
}

figcaption {
  /* color: rgb(158, 181, 250); */
  padding: 2rem 0;
  text-align: center;
}

cite {
  display: inline-block;
  padding: 1rem 0;
  text-transform: uppercase;
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main__bg {
  background: url('../images/rhino.png') no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: cover;
}

.container__content {
  grid-column: 2 / span 5;
}

.menu {
  background: #1c1918;
  min-width: 390px;
  height: 81vh;
  position: sticky;
  top: 93vh;
  z-index: 99;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.list-flex li {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: rgb(190, 190, 190);
}

.section__content {
  position: relative;
  padding: 10rem 0;
  /* border: 1px solid peru; */
  min-width: 390px;
}

.container__text {
  transform: translateY(-3%);
}

.section__content--last {
  padding-top: 10rem;
  margin-bottom: 50rem;
}
.container__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  margin-top: 36vh;
  height: 19vh;
  min-width: 390px;
  background: #1a1817;
  position: sticky;
  top: -1px;
  z-index: 99;
}

.logo h1 {
  padding-left: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.header__conduct h3 {
  padding-top: 3rem;
  font-size: 2.5rem;
}

.question {
  width: 100%;
  padding: 5rem 6rem;
  border-radius: 5px;
  text-align: center;
  background: url('../images/redox-01.png');
  background-size: cover;
  border-top: 1px outset rgb(165, 165, 165);
  border-bottom: 3px solid rgb(41, 41, 41);
}

.question-bg {
  background: rgb(49, 49, 49);
  height: 100%;
  width: 100%;
}

.question h3 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.74);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.233);
}

.contact-info {
  text-align: center;
}

.contact__message {
  padding: 0;
}

.contact__message ul {
  text-transform: lowercase;
}

.copyright {
  color: grey;
}

.contact__message p {
  color: rgb(201, 201, 201);
  padding: 0 1rem 8.5rem 1rem;
}

.portfolio {
  display: flex;
  overflow: scroll;
}

.portfolio__linkbox {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.portfolio__linkbox a {
  padding: 5px 7px;
  border: 1px solid rgb(109, 55, 41);
  border-radius: 2px;
  font-size: 2rem;
  color: rgb(109, 55, 41);
}

.portfolio__linkbox a:hover {
  color: rgb(161, 81, 61);
  border: 1px solid rgb(161, 81, 61);
}

.slider__image {
  width: 500px;
}

.icon--tech {
  height: 6rem;
  width: 6rem;
  background: radial-gradient(rgb(255, 255, 255), transparent);
  margin-bottom: 2rem;
  padding: 0.75rem;
  border-radius: 3px;
}

.icon--social {
  height: 3rem;
  width: 3rem;
}

/* /////////////////////////////////////////////////////////////////////
/*\\\\\\\\\\\\\\ single purpose formatting rules  \\\\\\\\\\\\\\\\\\\\\\\
/* /////////////////////////////////////////////////////////////////// */

.highlight {
  display: inline;
  background-color: rgba(104, 104, 104, 0.781);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.527);
  border-radius: 2px;
}

/* /////////////////////////////////////////////////////////////////////
/*\\\\\\\\\\\\\\ media queries \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
/* ///////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1200px) {
  .logo h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 900px) {
  body * {
    text-shadow: 2px 2px 3px black;
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
  }

  h1 {
    padding-right: 0.75rem;
  }

  .container__content {
    grid-column: 1 / 13;
    background-color: rgba(0, 0, 0, 0.555);
  }

  .section__content {
    padding: 7.2rem 1.5rem;
  }

  .container__logo {
    padding-left: 1.5rem;
    height: 12vh;
  }

  h1 {
    font-size: 5rem;
  }

  .menu {
    width: 100%;
    height: 88vh;
    padding: 0 1.5rem;
  }

  .darken-bg {
    background-color: rgba(0, 0, 0, 0.411);
  }
}

@media only screen and (max-width: 600px) {
  .logo h1 {
    font-size: 1.7rem;
  }

  .section__content {
    width: 100%;
  }
}
