html {
  font-size: 62.5%;
}
body * {
  color: rgb(240, 238, 238);
  position: relative;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.25rem;
  text-shadow: 1px 1px 2px black;
  font-weight: 100;
}

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1rem;
  font-size: 6rem;
  font-family: 'Fira Mono', monospace;
  padding-left: 0.75rem;
}

h6 {
  color: rgb(75, 100, 175);
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li:not(:last-child) {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #b37519;
}
a:hover {
  color: #df9220;
}

p {
  line-height: 120%;
  max-width: 32em;
}

main {
  position: relative;
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  grid-gap: 1em;
}

.main__bg {
  background: url('../images/rhino.png') no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: cover;
}

.container__content {
  grid-column: 2 / span 5;
  /* min-width: 390px; */
}

.menu {
  background: #1c1918;
  width: 100%;
  position: sticky;
  top: 93vh;
  z-index: 99;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.list-flex li {
  text-transform: uppercase;
}

.list-flex li:not(:first-child) {
  padding-left: 1rem;
}
.section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 69vh;
  position: relative;
  border: 1px solid peru;
}

.container__text {
  transform: translateY(-3%);
}

.section__content--last {
  padding-top: 10rem;
  margin-bottom: 90rem;
}
.container__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  margin-top: 39vh;
  height: 10rem;
  min-width: 450px;
  background: #1a1817;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo h1 {
  padding-left: 0;
}

.logo__text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.header__conduct h3 {
  font-size: 2.5rem;
}

.question {
  width: 100%;
  padding: 5rem 6rem;
  border-radius: 3px;
  text-align: center;
  background: url('../images/redox-01.png');
  background-size: cover;
  border-top: 1px outset rgb(165, 165, 165);
  border-bottom: 3px solid rgb(41, 41, 41);
}

.question h3 {
  font-weight: bold;
  font-size: 2rem;
  background-color: #575757;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(15, 15, 15, 0.938);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.contact-info p,
.contact__message p {
  text-align: center;
}

.contact-info ul {
  padding: 2rem 0;
  margin-bottom: 10rem;
  text-transform: lowercase;
}

.contact-info p {
  color: grey;
  padding-bottom: 3rem;
}

.contact__message p {
  color: rgb(75, 100, 175);
  padding-bottom: 8.5rem;
}

/* /////////////////////////////////////////////////////////////////////
/*\\\\\\\\\\\\\\ single purpose formatting rules  \\\\\\\\\\\\\\\\\\\\\\\
/* /////////////////////////////////////////////////////////////////// */

.highlight {
  display: inline;
  background-color: rgba(104, 104, 104, 0.781);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.527);
}

.add-margin-b-10 {
  margin-bottom: 10rem;
}

.section__content--flexstart {
  justify-content: flex-start;
}

/* /////////////////////////////////////////////////////////////////////
/*\\\\\\\\\\\\\\ media queries \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
/* ///////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 900px) {
  body * {
    text-shadow: 2px 2px 3px black;
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
  }
  .container__content {
    grid-column: 1 / 13;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 0 1rem 0 1rem;
  }

  .section__content {
    min-height: 55vh;
    max-width: 75%;
  }

  .list-flex {
    max-width: 75%;
  }

  h1 {
    font-size: 5rem;
  }
  .container__logo {
    width: 105%;
  }

  .menu {
    width: 105%;
    padding: 0 5rem 0 5rem;
  }

  .adjust-left-on-small {
    transform: translateX(-1rem);
    padding-left: 1rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .list-flex {
    min-width: 100%;
  }
}
